html 
  head 
    title Tareas
  body 
    h1 hola

    script(src="/socket.io/socket.io.js")
    script. 
      socket = io.connect()
      socket.on("count_updated", function(data){
        console.log(data);
      })
